
body {
  margin: 0;
  /* font-family: "Dancing Script", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Dancing Script', 'Playwrite CO Guides', 'Playwrite HR Lijeva Guides', cursive;
  background: #ffc4d5;
}


